nav {
  list-style-type: gurmukhi;
  background-color: #fcbf49;
  position: fixed;
 width: 100vw;
  top: 0;
  left: 0;
  padding: 24px;
  color: black;
  text-align: left;
  
  
}

li {
  padding:24px;
}

a{
  text-decoration: none;
  color: #d62828;
  
  
  
}
